.header__logo {
  display: block;
  padding-left: 27px;
  min-width: 103px;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .header__logo {
    min-width: 142px;
  }
}

@media screen and (min-width: 900px) {
  .header__logo {
    padding-left: 0;
  }
}
